html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background: #eeeeed;
}

h2 {
  text-align: center;
}

.image-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*Navbar*/
.navbar {
  padding: 30px 0 0 0;
}
nav .col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  width: 20%;
}
.nav-btn {
  width: calc(1px + 140 * (100vw / 320));
  height: calc(1px + 30 * (100vw / 320));
  font-size: calc(1px + 14 * (100vw / 320));
  font-weight: 700;
  color: #005c7b;
  background: #eeeeed;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8); /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: none;
  padding: 5px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;

  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler {
  padding: 7px 10px;
  border-radius: 1rem;
}

.nav-text {
  font-size: calc(12px + 1 * (100vw / 320));
  color: #005c7b;
  margin: 11px 0 8px 0;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(12px + 1 * (100vw / 320));
  color: #005c7b;
}

/*Main part*/
.first-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-block .text {
  font-size: calc(1px + 24 * (100vw / 320));

  text-align: center;
  text-transform: uppercase;

  color: #008daa;
}

.text {
  font-size: calc(1px + 12 * (100vw / 320));
  margin-top: 10px;
  line-height: calc(1px + 14 * (100vw / 320));
  /* identical to box height */
  text-align: center;
  color: #005c7b;
}

h1 {
  font-weight: 800;
  font-size: calc(1px + 24 * (100vw / 320));
  line-height: calc(1px + 28 (100vw / 320));
  text-align: center;
  text-transform: uppercase;

  color: #005c7b;
}

.second-block {
  background-image: url("https://raw.githubusercontent.com/dudov-al/medmasks-bootstrap/main/images/women.png");
  height: 65vh;
  background-size: cover;
  display: flex;
  background-position: bottom;
  justify-content: center;
  align-items: flex-end;
}

.btn-second {
  width: calc(1px + 200 * (100vw / 320));
  height: calc(1px + 40 * (100vw / 320));

  font-weight: bold;
  font-size: calc(1px + 16 * (100vw / 320));
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background: #ffb800;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: none;
}

.center-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
i {
  margin: 10px;
}
ul li.social {
  display: inline;
  font-size: calc(1px + 40 * (100vw / 320));
}

.fa {
  color: #005c7b;
}

.third-row {
  color: white;
  background-color: #005c7b;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-row img {
  fill: #fff;
  width: 50px;
}

.benefits {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.third-row ul {
  display: flex;
  flex-direction: column;
}

.third-row span {
  font-size: calc(1px + 16 * (100vw / 320));
  margin: 20px 0;
  text-align: center;
}

.mrgn {
  margin: 15px;
}

h2 {
  font-size: calc(28px + 1 * (100vw / 320));
  line-height: calc(28px + 1 (100vw / 320));
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 40px 0;
  color: #005c7b;
}

.forth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.two-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-scroll {
  height: 80%;
}

.fifth {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

input {
  background: #eeeeed;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8); /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15),
    -3px -3px 9px rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  border: none;
  font-size: calc(1px + 14 * (100vw / 320));
  width: calc(1px + 284 * (100vw / 320));
  height: calc(1px + 50 * (100vw / 320));
  padding-left: calc(1px + 30 * (100vw / 320));
  font-family: "Nunito", sans-serif;
  font-style: normal;
  color: #005c7b;
  font-weight: bold;
  margin: 10px 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
input::placeholder {
  color: #005c7b;
}
footer {
  margin-top: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .logo {
    width: 15% !important;
  }

  .navbar {
    background: none;
    padding: 15px 0 0 0;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    font-size: calc(15px + 1 * (100vw / 992));
    padding-right: 20px;
  }
  .nav-btn {
    font-size: calc(15px + 1 * (100vw / 992));

    padding: 8px 16px !important;
  }
  .nav-text {
    font-size: calc(15px + 1 * (100vw / 992));
    display: none;
  }
  .first-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .second-block {
    width: 100%;
margin: 0;
    background: no-repeat center/90% url("https://raw.githubusercontent.com/dudov-al/medmasks-bootstrap/main/images/women.png");
  }

  .second-block .text {
    font-size: calc(24px + 1 * (100vw / 992));
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #008daa;
  }
  h1 {
    font-size: calc(28px + 1 * (100vw / 992));
    line-height: calc(28px + 1 * (100vw / 992));
  }
  .second-block {
    flex-direction: column;
    align-items: center;
    background-position: inherit;
  }

  .btn-second {
    width: calc(1px + 200 * (100vw / 992));
    height: calc(1px + 40 * (100vw / 992));

    font-weight: bold;
    font-size: calc(16px + 1 * (100vw / 992));
  }
  ul li.social {
    display: inline;
    font-size: calc(40px + 1 * (100vw / 992));
  }

  h2 {
    font-size: calc(28px + 1 * (100vw / 992));
    line-height: calc(28px + 1 * (100vw / 992));
  }
  .third-row span {
    font-size: calc(22px + 1 * (100vw / 992));
  }

  input {
    font-size: calc(14px + 1 * (100vw / 992));
    width: calc(350px + 1 * (100vw / 992));
    height: calc(50px + 1 * (100vw / 992));
    padding-left: calc(30px + 1 * (100vw / 992));
  }

  .container {
    width: 100%;
    margin: auto;
  }
  .benefits {
    justify-content: space-between;
  }
  .space {
    margin-right: 15px;
    margin-left: 15px;
  }
  .minimum-text {
    font-size: calc(14px + 1 * (100vw / 992)) !important;
    text-transform: none !important;
  }
  .switch-pc {
    display: flex;
    flex-direction: column-reverse;
  }
  .benifits-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-sost {
    width: 50%;
  }
  .two-elements {
    display: flex;
    margin: 0 20px;
    flex-direction: row;
  }
  .paragraph {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    margin: 20px 20px;
    text-align: justify;
    color: #005c7b;
    font-size: calc(18px + 1 * (100vw / 992));
  }
  p {
    margin-top: 20px;
  }
  .certificates {
    width: 100%;
    background-color: #008daa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cert {
    width: calc(300px + 1 * (100vw / 992));
    margin: calc(20px + 1 * (100vw / 992)) 0;
  }
  .certificate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .gal-text {
    display: flex;
    flex-direction: row;
  }
  .img-text {
    color: #005c7b;
    font-size: calc(18px + 1 * (100vw / 992));
    text-align: justify;
    margin: 0 20px;
  }
  .fifth {
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

/* Tablets (desktops, 768px and up)*/
@media (min-width: 768px) {
  .logo {
    width: 20%;
  }
  nav {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  nav a {
    font-size: calc(15px + 1 * (100vw / 768));
    /* padding-right: 20px; */
    text-align: center;
  }
  .nav-btn {
    font-size: calc(15px + 1 * (100vw / 768));
    width: auto;
    height: auto;
    padding: 10px 20px;
  }
  .nav-text {
    font-size: calc(15px + 1 * (100vw / 768));
    display: none;
  }
  .first-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .second-block {
    height: 85vh;
    background-position: 60% !important;
  }

  .second-block .text {
    font-size: calc(24px + 1 * (100vw / 768));
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #008daa;
  }
  h1 {
    font-size: calc(28px + 1 * (100vw / 768));
    line-height: calc(28px + 1 * (100vw / 768));
  }
  .second-block {
    flex-direction: column;
    align-items: center;
    background-position: inherit;
  }

  .btn-second {
    width: calc(1px + 200 * (100vw / 768));
    height: calc(1px + 40 * (100vw / 768));

    font-weight: bold;
    font-size: calc(16px + 1 * (100vw / 768));
  }
  ul li.social {
    display: inline;
    font-size: calc(40px + 1 * (100vw / 768));
  }

  h2 {
    font-size: calc(28px + 1 * (100vw / 768));
    line-height: calc(28px + 1 * (100vw / 768));
  }
  .third-row span {
    font-size: calc(22px + 1 * (100vw / 768));
  }

  input {
    font-size: calc(14px + 1 * (100vw / 768));
    width: calc(350px + 1 * (100vw / 768));
    height: calc(50px + 1 * (100vw / 768));
    padding-left: calc(30px + 1 * (100vw / 768));
  }

  .container {
    width: 100%;
    margin: auto;
  }
  .benefits {
    justify-content: space-between;
  }
  .space {
    margin-right: 15px;
    margin-left: 15px;
  }
  .minimum-text {
    font-size: calc(14px + 1 * (100vw / 768)) !important;
    text-transform: none !important;
  }
  .switch-pc {
    display: flex;
    flex-direction: column-reverse;
  }
  .benifits-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-sost {
    width: 50%;
  }
  .two-elements {
    display: flex;
    margin: 0 20px;
    flex-direction: row;
  }
  .paragraph {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    margin: 20px 20px;
    text-align: justify;
    color: #005c7b;
    font-size: calc(18px + 1 * (100vw / 768));
  }
  p {
    margin-top: 20px;
  }
  .certificates {
    width: 100%;
    background-color: #008daa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cert {
    width: calc(300px + 1 * (100vw / 768));
    margin: calc(20px + 1 * (100vw / 768)) 0;
  }
  .certificate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .gal-text {
    display: flex;
    flex-direction: row;
  }
  .img-text {
    color: #005c7b;
    font-size: calc(18px + 1 * (100vw / 768));
    text-align: justify;
    margin: 0 20px;
  }
  .fifth {
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
